/*======== HEADER VARIABLES & MIXINS & EXTENDS =========*/
$menutoggler_size: 40;
$mobilemenu_padding: $padding-base-side/2;

$point-hidemenu: $point-tablet;
$point-showpannel: $point-desktop-s;

$logo-h: 30;
$head_top_p: $padding-base/2;
$head_h: $logo-h + $head_top_p*2;


/*======== HEADER BASIC =========*/

header[role='banner']{
  position: relative;

  &.screen{
    background-color: $c-gray-dark;
    background-image: image-url('pattern_drone.svg');
    background-size: 200%;
    background-position: 50% 50%;

    position: relative;
    overflow: hidden;

    .screen-content{
      @include rem('padding-top', $head_h);
      position: relative;
      z-index: 1;
      width: 100%;
    }

    &, h1 { color: #fff; }


    &:after{
      content: "";
      background-color: rgba(#000, .25);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    #header-drones{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      max-width: 100%;
      max-height: 100%;
    }
  }
}

.inside header[role='banner']{
  @include rem('min-height', $head_h);
}






#head-logo{
  img{
    display: block;
    max-width: 100%;
    max-height: 100%;
  }
}


#header-top{

  @include rem('padding', $head_top_p, 0);
  background-color: #fff;
  border-bottom: 1px solid $c-gray-2;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;


   #head-logo{
    @include rem('height', $logo-h);
  }

  
  .d-t_cell_m{
    text-align: right;

    &:first-child{
      text-align: left;
    }
  }


  nav{

    @include font-size(16);
    text-transform: uppercase;

    a{
      display: inline-block;
      @include rem('margin-left', 50);

      &:first-child{
        margin-left: 0;
      }

      &, &:hover{
        text-decoration: none;
      }


      &, &:visited { color: $c-text; }

      &.current{
        &, &:hover, &:visited { color: $c-gray-5; }
        cursor: default;
      }
    }

    label{
      color: $c-link;
      @include font-size($menutoggler_size, 1);
      cursor: pointer;
      display: none;
      
      @include icon('menu');
      @include rem('height', $menutoggler_size);  //hack
    }

    #headnav{
      display: none;
    }
  }
  
  #headnav:checked{

      & + label{
        @include icon('close');
        position: relative;
        z-index: 11;
      }
    }

  @media screen and (max-width: #{$point-hidemenu}) 
  {
    #headmenu{
      opacity: 0;
      transition: opacity 0ms;
      width: 0;
      height: 0;
    }

    nav label{
      display: block;
    }


    #headnav:checked{
      & ~ #headmenu{
        opacity: 1;
        display: block;
        width: auto;
        height: auto;
        transition: opacity 200ms;
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;
        background-color: $c-gray-8;

        @include rem('padding-right', $mobilemenu_padding);
        @include rem('padding-bottom', $mobilemenu_padding);

        a{
          @include rem('margin-left', $mobilemenu_padding);
          padding: 8px 0 6px;
          display: block;
          white-space: nowrap;
          border-bottom: 1px solid $c-gray-9;

          &:last-child{
            border-bottom: 0;
            padding-bottom: 0;
          }
        }
      }
    }

  }



  @media screen and (min-width: #{$point-hidemenu}){
    nav a:hover{
      color: $c-link;
    }
  }

  @media screen and (max-width: #{$point-hidemenu}){
    nav{
      margin-right: 0;
    }

    #headnav:checked{

      & + label{
        color: #fff;
        border: 0;
        position: absolute;
        @include rem('top', $padding-base/2);
        @include rem('right', $padding-base-side);

        @include mobile(){
          @include rem('right', $padding-base-side/2);
        }
      }


      & ~ #headmenu{
        top: 0;
        right: 0;
        @include rem('padding-top', $mobilemenu_padding);
        @include rem('padding-right', $menutoggler_size + $padding-base-side + $mobilemenu_padding);

        @include mobile(){
          @include rem('padding-right', $menutoggler_size + $padding-base-side/2 + $mobilemenu_padding);
        }
        
        text-align: left;

        a{
          &, &:visited{
            color: #fff;
          }

          &.current{
            &, &:visited { color: $c-gray-5; }
          }

          &:first-child{
            padding-top: 0;
          }
        }
      }
    }
  }

}






/*======== HEADER INDEX =========*/

#head-index_img{
  display: block;

  @media screen and (min-width: #{$point-showpannel + 1})
  {
    max-width: 100%;
  }

  @media screen and (max-width: #{$point-showpannel})
  {
    max-height: 410px;
  }
}


$c_r: 8px;
$lines_c: $c-gray-7;

#index-banner{
  // width: 100%;
  // overflow: hidden;
  padding-bottom: $c_r/2;

  h1{
    @include rem('margin-bottom', $vertical-rythm*3);
  }

  .flexcols{
    position: relative;
    color: $c-gray-light;
    @include font-size(18, 1.2);
  }

  .flexcols-i{

    position: relative;
    text-align: center;
    // border-bottom: 1px solid $c-gray-4;

    &:before{
        content: "";
        height: 1px;
        background: $lines_c;

        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
      }


    &:after{
      content: "";
      width: 0;
      height: 0;
      border-top: 4px solid transparent;
      border-left: 8px solid $lines_c;
      border-bottom: 4px solid transparent;

      position: absolute;
      bottom: -4px;
      right: 0;
    }

  }

  // .circle {
  //   display: inline-block;
  //   vertical-align: top;

  //   width: $c_r;
  //   height: $c_r;
  //   background: $lines_c;
  //   border-radius: $c_r/2;

  //   margin-left: 2px;

  //   &:first-child{
  //     margin-left: 0;
  //   }
  // }

  // #index-banner_decor-1, #index-banner_decor-2{
  //   height: $c_r;
  //   position: absolute;
  //   bottom: - $c_r/2 + 0.5;

  //    @include max_tablet(){
  //     display: none;
  //   }
  // }

  // #index-banner_decor-1{
  //   left: - $c_r - 6;
  // }

  // #index-banner_decor-2{
  //   right: - $c_r*3 - 2*2 - 10 - 8;
  // }



}


.index-banner_content{
  @include rem('padding', 0, 20, 20);
  font-weight: 100;
}