$icons: (
    sprite: (width: {{spriteWidth}}px, height: {{spriteHeight}}px, pngPath: '../i/sprite.png', svgPath: '../i/sprite.svg'),
{{#shapes}}     
    {{base}}: (width: {{width.inner}}px, height: {{height.inner}}px, backgroundX: {{position.absolute.x}}px, backgroundY: {{position.absolute.y}}px),
{{/shapes}});

$sprite: map-get($icons, sprite);

%back_svg{ background-image: url(map-get($sprite, svgPath)); }
%back_png{ background-image: url(map-get($sprite, pngPath)); }

@mixin get-sprite($spritename){
    $spritename: map-get($icons, $spritename);
    
    width: map-get($spritename, width);
    height: map-get($spritename, height);
    
    @extend %back_png;
    background-position: map-get($spritename, backgroundX) map-get($spritename, backgroundY);

    .svg & { @extend %back_svg; }
}

{{#shapes}}
.sprite-{{base}} { @include get-sprite({{base}}); }
{{/shapes}}