doctype html
html
	head
		meta(http-equiv="Content-Type" content="text/html;charset=UTF-8")
		meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
		
		block head
		title #{pageTitle} | hiredrone.io
		meta(name='description' content=pageDescription || '')
		meta(name='keywords' content=pageKeywords || '')

		link(href='https://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet')
		link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i' rel='stylesheet')
		link(href='assets/css/de.min.css' rel='stylesheet')

		//-tmp from plugin
		link(href='assets/css/pscpe.css' rel='stylesheet')
		
		script(src='assets/js/jquery-1.9.1.min.js')
		script(src='assets/js/de.min.js')


		link(rel="icon" href="favicon.ico" type="image/x-icon")
		link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
		link(rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png")
		link(rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png")

	block layout
	body
		block content