extends extends/layout.jade

block head
	- var pageTitle = '404'

block content
	h1 404
	.setw
		.sec-content
			p Page you requested not found. Sorry about it! But you can check some information in our 
				a(href="#") blog
				| , 
				a(href="https://twitter.com/hashtag/droneemployee?f=tweets&vertical=default&src=hash", target="_blank") Twitter 
				| or 
				a(href="https://github.com/DroneEmployee/drone_employee_ros", target="_blank") GitHub