extends extends/layout_simple.jade

block head
	- var pageTitle = 'Outdated browser'

block content
	#page-error.screen
		.setw
			.f-zoom
				.f-left
					img.img-b(alt="", src="assets/i/drone_broken.png", srcset="assets/i/drone_broken-x2.png")
				.f-right
					#page-error-content
						img#page-error-logo(alt="Drone employee", src="assets/i/de-logo-inverted.png", srcset="assets/i/de-logo-inverted-x2.png")
						#page-error-logo_title We help businesses hire drones

						#page-error-message
							h1 Page not found
							p You are on the right way, but we can't find requested page. Please, check links below to meet Drone-Employee:


						#page-error-links
							p: a(href="/") Home Page
							p: a(target="_blank", href="https://github.com/DroneEmployee/drone_employee_ros") Our GitHub repository
							p: a(target="_blank", href="mailto: vitaly@drone-employee.com") vitaly@drone-employee.com