extends extends/layout.jade

block head
	- var pageTitle = 'About'

block content
	h1 About
	.setw
		.sec-content
			h2 Open source software for safe airspace usage
			p Today, all developed countries have the same problem with civil drone use. This problem is in providing safe usage of a single airspace for a lot of drones. It is significant to solving this problem via decentralized technologies.
			p Drone employee is opensource software, which can provide safe airspace usage. Drone employee is scalable solution for using to the tune of single park zone to the whole country airspace. Blockchain technology allows us to realize that.
			p Therefore 
				strong Drone Employee is solution that provides Blockchain technology for Global civil drone vendors today
				| .
			blockquote
				ul
					li No matter what the area size: park, city, state, country, world.
					li Open source implementation. Just what you need for use — download install package.
					li Ready-to-use documentation and support on request.
					li Provides secure multiple flying drones
			h2 In Drone Employee we use following technologies
			h3 Alfa version solution stack:
			ul
				li Ethereum network client geth
				li ROS
				li OpenTopography
				li Ubuntu OS
				li Aira IoT bridge and Aira core

			h3 Beta version (coming Summer 2016) solution stack:
			h4 Beta version (coming Summer 2016) solution stack:
			h5 Beta version (coming Summer 2016) solution stack:
			p Here it is list of technologies that we want to add in the next 6 months:

			ul
				li IBM Blockchain for DAO private ledger implementation
				li 3DR compatibility field tested releases
				li Aira Autonomous agent application for interacting Human-to-Robot with UI
				li USA air traffic control autonomous agents via opentopography area data

			h2 Before you start
			ul
				li: a(href="https://github.com/DroneEmployee/drone_employee_ros#hardware-requirements" target="_blank") Hardware requirements
				li: a(href="https://github.com/DroneEmployee/drone_employee_ros#installation" target="_blank") Installation
				li: a(href="https://github.com/DroneEmployee/drone_employee_ros#launch" target="_blank") Launch
				li: a(href="https://github.com/aira-dao/aira-IoT/wiki/AIRA-IoT-ROS-Tutorials-%28EN%29" target="_blank") Tutorials

			a(href="https://github.com/DroneEmployee/drone_employee_ros", target="_blank").sec-github
				span.icon-git
				p View oficial repository of drone employee project
