extends extends/layout.jade

block head
	- var pageTitle = 'About'

block content
	h1 About
	.setw
		.sec-content
			h2 What do we believe in?
			blockquote “Our mission is to give business owners a mechanism to hire drone workforce.”
			p We believe that drone technology is truly disruptive and can increase efficiency of day-to-day operations on markets such as 
				a(href="#") filming
				| , 
				a(href="#") monitoring
				| , and 
				a(href="#") logistics.

			table
				thead
					tr
						th Initial investment
						th Revenue
				tbody
					tr
						td Drone price = 1000$
						td N of drones = 3
					tr
						td Batteries (x3) = 450$
						td N of flights per day = 6
					tr
						td Insurance = 100$/month
						td Price per flight = 10$

				tfoot
					tr
						td Total investment  = 5,500$
						td Monthly revenue = 5,400$

	
			p But we see a bottleneck that makes the adoption process of this technology slow – people have to operate drones manually! Drones should stop being treated as tools for humans to do the job. Instead, drones are full-time employees that create value for its owner autonomously.

			p Our goal is to create a common protocol for the drone market which would allow all stakeholders to take part easily and would guarantee the safety of operations.

			h2 What is special about Drone Employee?
			blockquote “Decentralized network and software tools which allow anybody to take part in drone market”
			p Not only we believe in drone technology, we also believe in people who power it. And there is no better way to create an effective market mechanism than to allow all interested parties to take part in its creation.
			p Drone Employee is an open source software, which makes safe airspace usage easy. We used technologies like Ethereum blockchain and ROS framework to create an autonomous air traffic control system that does not need human control. And due to decentralized infrastructure, Drone Employee has unlimited potential to scale from a local park of drones to an interstate drone delivery system!
			p With Drone Employee software clients get affordable prices for drone services like filming or delivery, while business owners cut the costs of maintaining drone fleet and have more control over operational risks.

			h2 Technologies we use
			.t-center
				.lead Autonomous dispatch that is assigning routes to the drones based on topography data:
				ul
					li: a(href="http://ros.org/" target="_blank") ROS
					li: a(href="http://ompl.kavrakilab.org/" target="_blank") OMPL
					li: a(href="https://github.com/flexible-collision-library/fcl" target="_blank") FCL
					li: a(href="https://octomap.github.io/" target="_blank") Octomap
					li: a(href="https://github.com/ethereum/web3.js" target="_blank") Web3JS
					li: a(href="https://github.com/ethereum/go-ethereum/wiki/geth" target="_blank") Ethereum Go Client


				.lead Software installed on a drone:

				ul
					li: a(href="http://ros.org/" target="_blank") ROS
					li: a(href="#" target="_blank") MAVROS
					li: a(href="#" target="_blank") Web3JS
					li: a(href="#" target="_blank") Ethereum Go Client

			h2 Before you start

			.row
				.col-md-4.col-md-offset-4
					a.btn.btn-md.btn-Link.btn-block(href="https://github.com/DroneEmployee/drone_employee_ros#hardware-requirements" target="_blank") Hardware requirements

					a.btn.btn-md.btn-Link.btn-block(href="https://github.com/DroneEmployee/drone_employee_ros#installation" target="_blank") Installation

					a.btn.btn-md.btn-Link.btn-block(href="https://github.com/DroneEmployee/drone_employee_ros#launch" target="_blank") Launch

					a.btn.btn-md.btn-Link.btn-block(href="https://github.com/aira-dao/aira-IoT/wiki/AIRA-IoT-ROS-Tutorials-%28EN%29" target="_blank") Tutorials


			a(href="https://github.com/DroneEmployee/drone_employee_ros", target="_blank").sec-github
				span.icon-git
				p View our official repository
