extends extends/layout.jade

block head
	- var pageTitle = 'Blog'

block content
	h1 Our blog

	.setw
		.blog-wrap
			.blog-main
				.sec-content.blog-post
					h3: a(href="") Drone employee took part in the nordic uas event 2016
					.blog-postinfo
						.item 16/06/17
						.item.tags
							span.icon-tag
							a(href="#") conference
							a(href="#") exhibition
					p
						a(href="#") Nordic UAS Event 2016
						| &nbsp; was held in Odense Congress Center, Denmark on June 1-3. There was more than 50 participants and 1500+ attendees. UAV manufacturers demonstrated their new products, participants discussed the future of UAS in Northern Europe and shared their achievements with attendees of the exhibition.

					a.blog-postmore(href="#") Read more

				.sec-content.blog-post
					h3: a(href="") Drone employee took part in the nordic uas event 2016
					.blog-postinfo
						.item 16/06/17
						.item.tags
							span.icon-tag
							a(href="#") conference
							a(href="#") exhibition

					p: img(alt="", src="assets/i/tmp/exhibition_collage-1024x576.jpg")
					p
						a(href="#") Nordic UAS Event 2016
						| &nbsp; was held in Odense Congress Center, Denmark on June 1-3. There was more than 50 participants and 1500+ attendees. UAV manufacturers demonstrated their new products, participants discussed the future of UAS in Northern Europe and shared their achievements with attendees of the exhibition.

					a.blog-postmore(href="#") Read more

			.blog-sidebar
				.sec-content
					h5 What's new
					.post-note
						.blog-postinfo
							.item 16/06/17
						p Video from our field tests is almost done. Looking forward to show what we've reached in our work

					.post-note
						.blog-postinfo
							.item 16/06/17
						p Video from our field tests is almost done. Looking forward to show what we've reached in our work

				.sec-content
					h5 Tags
					.tags
						a(href="#") conference
						a(href="#") exhibition
						