extends extends/layout.jade

block head
	- var pageTitle = 'Decentralised sky'

block layout
	- var inside = false

block content	

	#index-targets
		.setw
			.flexcols
				.flexcols-i
					a(href="#")
						span.usage-img(style="background-image: url('assets/i/usage1.jpg');")
						span.usage-text Aerial Filming
				.flexcols-i
					a(href="#")
						span.usage-img(style="background-image: url('assets/i/usage2.jpg');")
						span.usage-text Security n monitoring
				.flexcols-i
					a(href="#")
						span.usage-img(style="background-image: url('assets/i/usage3.jpg');")
						span.usage-text Drone Delivery


	#index-promotions
		h2 Start using Drone Employee

		.setw
			#index-promotions_frame With our software you can organise multiple drones at your site so they process payments, take off and film the action fully autonomously.
			#index-promotions_text
				h4 
					| Buy a drone
					.line
						.circle
				p We support 15 drone manufacturers and we can help you choose the right one for you!
				h4
					| Prepare the area
					.line
						.circle
				p Use mapping tools and limit the area for drones to ensure the safety of your clients!
				h4
					| Hire a drone
					.line
						.circle
				p Install our software to be make your drone film your clients, monitor the area or deliver goods!
				h4
					| Grow profit
					.line
						.circle
				p Expand your drone base even further by connecting more drones!