extends extends/layout.jade

block head
	- var pageTitle = 'Press room'

block content

	h1 Press room

	.blog-wrap
		.sec-content.blog-post
			h3: a.link-external(href="http://www.coinfox.info/news/5302-drone-employee-at-blockchain-bitcoin-conference-moscow", target="_blank")
				span “Drone employee” at Blockchain & Bitcoin Conference Russia 2016
				span.icon-externalLink
			.blog-postinfo
				.item 16/04/14
				.item
					a(href="http://www.coinfox.info/news/5302-drone-employee-at-blockchain-bitcoin-conference-moscow", target="_blank") Coinfox

			p During the third annual Blockchain & Bitcoin Conference, Russian developer Sergei Lonshakov demonstrated the work of his “drone employee,” that is, a drone operated via a smart contract.

			a.blog-postmore.link-external(href="http://www.coinfox.info/news/5302-drone-employee-at-blockchain-bitcoin-conference-moscow", target="_blank")
				span Read more on Coinfox
				span.icon-externalLink

		.sec-content.blog-post
			h3: a(href="http://www.coinfox.info/news/5302-drone-employee-at-blockchain-bitcoin-conference-moscow", target="_blank") “Drone employee” at Blockchain & Bitcoin Conference Russia 2016
			.blog-postinfo
				.item 16/04/14
				.item
					a(href="http://www.coinfox.info/news/5302-drone-employee-at-blockchain-bitcoin-conference-moscow", target="_blank") Coinfox

			p During the third annual Blockchain & Bitcoin Conference, Russian developer Sergei Lonshakov demonstrated the work of his “drone employee,” that is, a drone operated via a smart contract.

			a.blog-postmore(href="http://www.coinfox.info/news/5302-drone-employee-at-blockchain-bitcoin-conference-moscow", target="_blank") Read more on Coinfox
						