//POPUS ON WEBSITE
#popup-contact.popup-overlay
	.popup-window
		h2 Contact us

		form
			p
				input.inp-block(type="text", placeholder="Your name")
			p
				input.inp-block(type="email", placeholder="Your email")
			p
				textarea.inp-block(placeholder="Type here your message, please")
			p.t-center
				input(type="submit", value="Submit")

		a.popup-close(href="#")



footer(role='contentinfo')
	#footer-steps.footer-sec
		.setw
			
			h3 Next Steps to Drone Automation

			#footer-steps_c
				#footer-steps_c_l
					h5 Contact an expert
					p Talk about the possibilities of what Drone Employee can do for your business.
					a(href="#popup-contact").link-bord Contact us

				#footer-steps_c_r
					h5 Get started with setup
					p Start an Drone Employee network and build applications that can take advantage of its capabilities.
					a(href="https://github.com/DroneEmployee/drone_employee_ros", target="_blank").link-bord Build it now



		#footer-dec
			.sprite-drone
			#footer-dec_line
			#footer-dec_arr_l
				.arrowline.arrowline-top
				.arrowline.arrowline-bottom
			#footer-dec_arr_r
				.arrowline.arrowline-top
				.arrowline.arrowline-bottom


	#footer-bottom.footer-sec
		.setw
			.d-t.fullw
				.d-t_cell_m.t-left.desktop
					a(href="https://github.com/DroneEmployee/drone_employee_ros/blob/master/LICENSE", target="_blank") Terms of use

				.d-t_cell_m.lineobj
					a(href="https://github.com/DroneEmployee/drone_employee_ros", target="_blank")
						span.icon-git
					a(href="https://twitter.com/hashtag/droneemployee?f=tweets&vertical=default&src=hash", target="_blank")
						span.icon-twitter
					a(href="https://www.youtube.com/playlist?list=PLLepqB9oh7WvyPG8_6kyyn74-DA2GTo-W", target="_blank")
						span.icon-youtube

				.d-t_cell_m.mobile
					a(href="https://github.com/DroneEmployee/drone_employee_ros/blob/master/LICENSE", target="_blank") Terms of use

				.d-t_cell_m.t-right
					span © drone-employee.com 2017

