.b-paging
	a.icon.icon-arrLeft.disabled(href="#")
	a.icon.icon-arrRight(href="#")
	.b-paging_in
		a.active(href="#") 1
		a(href="#") 2
		a(href="#") 3
		a(href="#") 4
		a(href="#") 5
		span ...
		a(href="#") 12