$icons: (
    sprite: (width: 200px, height: 180px, pngPath: '../i/sprite.png', svgPath: '../i/sprite.svg'),
    drone: (width: 200px, height: 179.7px, backgroundX: 0px, backgroundY: 0px),
);

$sprite: map-get($icons, sprite);

@mixin get-sprite($spritename){
    $spritename: map-get($icons, $spritename);
    
    width: map-get($spritename, width);
    height: map-get($spritename, height);
    background-image: url(map-get($sprite, svgPath));
    background-position: map-get($spritename, backgroundX) map-get($spritename, backgroundY);

    .no-svg & { background-image: url(map-get($sprite, pngPath)); }
}

.sprite-drone { @include get-sprite(drone); }
