@include font-face("Gotham Pro Bol", font-files("GothaProBol.woff","GothaProBol.ttf"), "GothaProBol.eot");
@include font-face("Open Sans", font-files("OpenSans-Regular.woff","OpenSans-Regular.ttf"), "OpenSans-Regular.eot", normal);
@include font-face("Open Sans", font-files("OpenSans-Bold.woff","OpenSans-Bold.ttf"), "OpenSans-Bold.eot", bold);

@mixin font-size($font_px, $scale: $scale, $important: 'false')
{
	$lh: $font_px*$scale;
	@include rem('font-size', $font_px, '', '', '', $important);
	@include rem('line-height', $lh, '', '', '', $important);
}

@mixin font_percentage($currentFont, $basicFont: $font-base-size){
  font-size: floor( $currentFont / $basicFont * 100% );
}

%font_base
{
	@include font-size($font-base-size);
	font-weight: normal;
	word-spacing: normal;
	letter-spacing: 0;
}

/*==========*/

html {
  // font-size: 100%;
  @include font_percentage($font-base-size);

  @include min_desktop_m(){
    @include font_percentage(16);
  }

}

body { 
	@extend %font_base;
	color: $c-text; 
  font-family: $font-family-base;
}


a { 
  @extend %transitionLink;
  @include hover-link;
  color: $c-link;

  &:hover{
    color: $c-hover;
  }

  &.link-external{
    span {
      margin-right: 10px;
      // @extend %inline-block;
      display: inline;

      &:last-child{
        margin-right: 0;
      }
    }
  }
}

#{headings()} {
  @include rem('margin-top', $vertical-rythm*2);
  @include rem('margin-bottom', $vertical-rythm);

  &:first-child{
    margin-top: 0;
  }
}

h1, h2 {
  font-family: $font-family-second;
}

h1 { 
  @include font-size(40, $scale-small); 
  text-align: center;
  @include rem('margin-bottom', $vertical-rythm*2);
  color: $c-gray-9;
}

h2 { @include font-size(26, $scale-small); @include rem('margin-top', $vertical-rythm*4); }
h3 { @include font-size(24, $scale-small); }
h4 { @include font-size(20, $scale-small); }
h5 { @include font-size(16, $scale-small); }

ul, ol {
  @include rem('margin-left', 15);

  &.list-nodisc{
    list-style: none;
  }

}

ul, p, blockquote{
  @include rem('margin-bottom', $vertical-rythm);
}

li{
  @include rem('margin-bottom', $vertical-rythm/2);
}

ul, li, p, blockquote{
  &:last-child{
    margin-bottom: 0;
  }
}

blockquote{

  background-color: #fafafa;
  @include rem('padding', $padding-base);
  @include rem('border-width', 2, 0);
  border-style: solid;
  border-color: $c-green;
  position: relative;

  &:before, &:after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    @include rem('height', 10);
    pointer-events: none;
    @include rem('border-width', 0, 2);
    border-style: solid;
    border-color: $c-green;
  }

  &:before{
    top: 0;
  }

  &:after{
    bottom: 0;
  }

  #{headings()}, p, ul, ol, li{
    &:last-child{
      margin-bottom: 0;
    }
  }
}

hr{
  height: 1px;
  border: 0;
  background-color: $c-gray-dark;
  @include rem('margin', $vertical-rythm, 0);

  &.hr-small{
    @include rem('margin', 4, 0);
  }
}

.t-left{ text-align: left; }
.t-right{ text-align: right; }
.t-center{ text-align: center; }
.t-through { text-decoration: line-through; }

.uppercase{ text-transform: uppercase; }
.nowrap { white-space: nowrap; }

.t-bold { font-weight: bold; }


.blog-post{
  img{
    display: block;
    max-width: 100%;
  }

  // a{
  //   &:visited{
  //     color: lighten($c-link, 15%) !important;
  //   }
  // }
}

// .t-red, a.t-red { color: $color-red; color: $color-red !important; }
.t-blue, a.t-blue { color: $c-blue; color: $c-blue !important; }
// .t-green, a.t-green { color: $color-green; color: $color-green !important; }
// .t-gray, a.t-gray { color: $color-gray-5; color: $color-gray-5 !important; }






/*STYLES FOR POSTS*/
.entry-content{
  img.aligncenter{
    display: block;
    margin: 0 auto;
  }
}