@mixin font-size($font_px, $scale: $scale, $important: 'false')
{
	$lh: $font_px*$scale;
	@include rem('font-size', $font_px, '', '', '', $important);
	@include rem('line-height', $lh, '', '', '', $important);
}

@mixin font_percentage($currentFont, $basicFont: $font-base-size){
  font-size: floor( $currentFont / $basicFont * 100% );
}

%font_base
{
	@include font-size($font-base-size);
	font-weight: normal;
	word-spacing: normal;
	letter-spacing: 0;
}

/*==========*/

html {
  @include font_percentage($font-base-size);

  @include min_desktop_m(){
    @include font_percentage($font-base-size + 2);
  }
}

body { 
	@extend %font_base;
	color: $c-text; 
  font-family: $font-family-base;
}


a { 
  @extend %transitionLink;
  @include hover-link;
  color: $c-link;

  &:hover{
    color: $c-hover;
  }

  &.link-external{
    span {
      margin-right: 10px;
      display: inline;

      &:last-child{
        margin-right: 0;
      }
    }
  }
}

#{headings()} {
  @include rem('margin-top', $vertical-rythm*2);
  @include rem('margin-bottom', $vertical-rythm);
  text-align: center;

  &:first-child{
    margin-top: 0;
  }
}


h1 { 
  @include font-size(40, $scale-small); 
  @include rem('margin-bottom', $vertical-rythm*3);
  color: $c-gray-dark;

  font-family: $font-family-second;
  font-weight: 700;
}

h2 { @include font-size(32, $scale-small);
  @include rem('margin-top', $vertical-rythm*4); 
  @include rem('margin-bottom', $vertical-rythm*2);
}
h3 { @include font-size(26, $scale-small); }
h4 { @include font-size(24, $scale-small); }
h5 { @include font-size(22, $scale-small); }

h3, h4, h5 {
  // font-weight: 400;
}

ul, ol {
  @include rem('margin-left', 15);

  &.list-nodisc{
    list-style: none;
  }

}

p{
  @include rem('margin-bottom', $vertical-rythm);
}

ul, ol, blockquote {
  @include rem('margin-bottom', $vertical-rythm*2);
}

li{
  @include rem('margin-bottom', $vertical-rythm/2);
}

ul, li, p, blockquote{
  &:last-child{
    margin-bottom: 0;
  }
}

blockquote{

  @include rem('padding', $padding-base);
  @include rem('border-width', 2, 0);
  border-style: solid;
  border-color: $c-green;
  position: relative;

  text-align: center;
  font-weight: 100;
  font-size: 1.2em;

  &:before, &:after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    @include rem('height', 10);
    pointer-events: none;
    @include rem('border-width', 0, 2);
    border-style: solid;
    border-color: $c-green;
  }

  &:before{
    top: 0;
  }

  &:after{
    bottom: 0;
  }

  #{headings()}, p, ul, ol, li{
    &:last-child{
      margin-bottom: 0;
    }
  }
}

hr{
  height: 1px;
  border: 0;
  background-color: $c-gray-light;
  @include rem('margin', $vertical-rythm*2, 0);

  &.hr-small{
    @include rem('margin', 4, 0);
  }
}

.t-left{ text-align: left; }
.t-right{ text-align: right; }
.t-through { text-decoration: line-through; }

.uppercase{ text-transform: uppercase; }
.nowrap { white-space: nowrap; }

.t-bold { font-weight: bold; }

.t-center{
  text-align: center;

  ul, ol {
    display: inline-block;
  }
}


.blog-post{
  img{
    display: block;
    max-width: 100%;
  }
}

// .t-red, a.t-red { color: $color-red; color: $color-red !important; }
.t-blue, a.t-blue { color: $c-blue; color: $c-blue !important; }
// .t-green, a.t-green { color: $color-green; color: $color-green !important; }
// .t-gray, a.t-gray { color: $color-gray-5; color: $color-gray-5 !important; }

.lead{
  font-weight: 100;
}






/*STYLES FOR POSTS*/
.entry-content{
  img{
    display: block;
    max-width: 100%;
  }

  img.aligncenter{
    margin: 0 auto;
  }
}


/*Galleries*/
.gallery{
  @extend %inlineBlock-fix;
  margin-left: -4%;

  @include max_tablet(){
    margin-left: 0;
  }
}

.gallery-item{
  @extend %inline-block;
  @extend %font_base;
  width: floor(100%/3) - 4;
  vertical-align: top;
  box-sizing: border-box;
  margin-left: 4%;
  margin-bottom: 4%;


  @include mobile(){
    width: 100%;
    margin-left: 0;
    margin-bottom: $vertical-rythm * 2;
  }
}

.gallery-columns-2 .gallery-item{
    width: floor(100%/2) - 4;

    @include mobile(){
      width: 100%;
    }
}

.gallery-columns-4 .gallery-item{
    width: floor(100%/4) - 4;

    @include mobile(){
      width: 100%;
    }
}

.gallery-columns-3 .gallery-item{
    width: floor(100%/3) - 4;

    @include mobile(){
      width: 100%;
    }
}

.gallery-columns-5 .gallery-item{
    width: floor(100%/5) - 4;

    @include mobile(){
      width: 100%;
    }
}

.gallery-columns-6 .gallery-item{
    width: floor(100%/6) - 4;

    @include mobile(){
      width: 100%;
    }
}

.gallery-icon{
  text-align: center;
  white-space: nowrap;
  overflow: hidden;

  &:after{
    content:""; 
    height: 100%;
    display: inline-block;
    vertical-align: middle;
  }

  img{
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    margin: 0 auto;
    vertical-align: middle;
  }
}

.gallery-size-thumbnail{
  .gallery-icon{
    // width: 200px;
    height: 200px;
  }

  @include mobile(){
    .gallery-icon{
      // width: 100%;
      height: auto;
    }
  }
}

.gallery-caption{
  text-align: center;
}
